/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define DFLT  0
#define NUMB 1
#define CTRL  2

&caps_word {
    continue-list = <MINUS UNDERSCORE>;
};

/ {
    behaviors {
        bt: tap_dance_bluetooth {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_BLUETOOTH";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&ext_power EP_TOG>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
    &kp ESC    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSPC
    &kp TAB    &kp A      &kp S      &kp D      &kp F      &kp G      &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp ENTER
    &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
    &kp LCTRL  &kp LGUI   &kp LALT   &caps_word &mo NUMB   &kp SPACE  &kp SPACE  &mo CTRL   &bt        &kp RALT   &kp RGUI   &kp RCTRL
            >;
        };

        numbers {
            bindings = <
    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp DEL
    &trans     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &trans
    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp BSLH
    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
            >;
        };

        bt_control {
            bindings = <
    &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11    &kp F12
    &trans     &trans     &trans     &trans     &trans     &trans     &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &trans     &trans
    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
    &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
            >;
        };
    };
};
